.Navigation nav{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(58, 68, 68);
  padding: 15px;
}
.Navigation nav li{
  list-style-type: none;
  display: inline;
  cursor: pointer;
}
.Navigation nav li a{
  position: relative;
  width: 100%;
  height: 20px;
  margin-right: 15px;
  color: white;
}
ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transition: all .6s;
}
ul li a:hover::after {
  width: 100%;
  left: 0;
  transition: all .3s;
}