.Products {
  margin-top: 50px;
}

.cart {
  text-align: center;
}

.active {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(226, 43, 43);
}